body {
    background-color:bisque;
}
h1{
    background-color:cadetblue;
    }
#tekst1 {
    background-color: azure;
    }
h2{
    background-color: coral;
   }
#tekst2 {
    background-color: darkseagreen;
}
ul {
    background-color:floralwhite;
}